*{
  box-sizing: border-box;
}

.bg {
  /* The image used */
  background-image: url("../assets/bgd-img.jpg");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-color: #c78df3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width:100%
}
#form-container{
  width:100%;

}
.flex-col-centerAll{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form{
  width:70%;
}
.flex-row-centerAll{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width:100%
}
.submit-btn{
  border-style: none;
  border-radius: 0.35rem;
  padding:0.65rem 1rem;
  width:200px;
  color:white;
  font-size: 16px;
  background-color: #483853;


}
h1{
  /*text-align: left;*/
  font-size:4rem;
}
  /* border-style:none; */

input, select{
  /* min-width:300px;
  max-width:450px; */
  border:1.5px solid#543c66;
  border-radius: 0.25rem;
  padding:0.65rem 1rem;
  margin-bottom:10px;
  font-size: 14px;
}
.header-bar{
  background-color: rgba(127,57,140,0.9);
  display:grid;
  min-width:200px;
  max-width:700px;

  height:40px;
  grid-template-columns:2fr 1fr;
  grid-column-gap:20px;
  align-items:center;
  padding: 0px 10px;
  color:white;
  
}

.attendance-select{
width:180px;
padding-left:0.2rem;
margin-left:10px;
border:none;
border-radius: 0px;
}
.member-container{
  display:grid;
  grid-template-columns:2fr 1fr;
  align-items:center;
  min-width:200px;
  max-width:700px;
  border:1px solid#543c66;
  padding-left:10px;
  border-top:0px;

}
.member-name{
  border-right:1px solid#543c66;
  height:100%;
  display:flex;
  align-items:center;
}
