header{
    /* border-bottom: 3px solid #543c66; */
    display: flex;
    flex-direction: row;
    width: 100%;
    right: 0;
    justify-content: flex-end;
    align-items: center;
    padding:20px;
    background-color: #00b2a9;
    color:White;

}
button{
}
#sign-out-button{
    width:120px;
    background-color: #d1c7db;
    color:#543c66;
    padding:10px 5px;
    margin-bottom: 0;
}

#user-name{
    padding:5px 10px;
}
.header-link{
    color:white;
    text-decoration:none;
    margin-right:13px;
}
.header-link:hover{
    color:#02353c

}
.chosen,
.header-link:active{
    /* //text-decoration: underline; */
    color:rgba(127,57,140,1);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    

}
